/* public/css/admin.css */
:root [data-bs-theme=light]{
    --sidebar-bg: #A8D45A; 
    --sidebar-menu-color: #242428;
    --sidebar-menu-icon-color: #242428;
    --sidebar-menu-header-color: #242428;
    --sidebar-menu-active-item-bg: #6f9c20;
    --sidebar-menu-active-item-color: #242428;
    --sidebar-border-color: #6f9c20;
    --button-primary-bg: #A8D45A;
    --form-switch-checked-bg: #A8D45A;
    --button-primary-color: #242428;
}
:root [data-bs-theme=dark]{
    --button-primary-bg: #6f9c20;
    --form-switch-checked-bg: #6f9c20;
    --button-primary-color: #ffffff;
}
@font-face {
    font-family: 'TT Interfaces';
    src: url('/fonts/TTInterfaces-Light.woff2') format('woff2');
}
body {
    font-family: 'TT Interfaces', sans-serif;
}


